[Unit]
Description=gesture detection daemon
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/detection-rpi-client-server

Restart=on-failure
ExecStart=/home/pi/detection-rpi-client-server/start-gestures.sh

[Install]
WantedBy=multi-user.target
